{{- define "main" -}}
    <main>

        <div class="preloader bg-dark flex-column justify-content-center align-items-center">
    <svg id="loader-logo" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 64 78.4">
        <path fill="#fff" d="M10,0h1.2V11.2H0V10A10,10,0,0,1,10,0Z"/>
        <rect fill="none" stroke="#fff" stroke-width="11.2" x="40" y="17.6" width="0" height="25.6"/>
        <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="23" y="35.2" width="0" height="25.6"/>
        <path fill="#fff" d="M52.8,35.2H64V53.8a7,7,0,0,1-7,7H52.8V35.2Z"/>
        <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="52.8" width="0" height="25.6"/>
        <path fill="#fff" d="M52.8,0H57a7,7,0,0,1,7,7h0v4.2H52.8V0Z"/>
        <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="57.8" y="17.6" width="0" height="11.2"/>
        <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="35.2" width="0" height="11.2"/>
        <rect fill="none" stroke="#fff" stroke-width="11.2" x="40.2" y="49.6" width="0" height="11.2"/>
        <path fill="#fff" d="M17.6,67.2H28.8v1.2a10,10,0,0,1-10,10H17.6V67.2Z"/>
        <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="28.8" x="31.6" width="0" height="11.2"/>
        <rect fill="none" stroke="#fff" x="14" stroke-width="28.8" y="17.6" width="0" height="11.2"/>
    </svg>
</div>
        <!-- Hero -->
        <section class="section-header bg-primary pb-9 pb-lg-10 text-white ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center">
                        <h1 class="mb-3">Advice and answers from our team</h1>
                        <p class="lead px-lg-5 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, cum!</p>
                        <form action="#">
                            <div class="form-group bg-white shadow-soft rounded-pill mb-4 px-3 py-2">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="input-group input-group-merge shadow-none">
                                            <div class="input-group-text bg-transparent border-0"><span class="fas fa-search"></span></div>
                                            <input type="text" class="form-control border-0 form-control-flush shadow-none pb-2" placeholder="Search for answers..." required>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-block btn-primary rounded-pill">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="pattern bottom"></div>
        </section>
        <section class="section section-md pb-0">
            <div class="container z-2 mt-n9 mt-lg-n10">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                        <!-- Card -->
                        <a href="/support-topic" class="card shadow text-center border-gray-300 animate-up-3">
                            <div class="card-body p-5">
                                <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                                    <span class="fas fa-clipboard-list"></span>
                                </div>
                                <h6 class="text-gray mb-0">Topic One</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                        <!-- Card -->
                        <a href="/support-topic" class="card shadow text-center border-gray-300 animate-up-3">
                            <div class="card-body p-5">
                                <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                                    <span class="fas fa-receipt"></span>
                                </div>
                                <h6 class="text-gray mb-0">Topic Two</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                        <!-- Card -->
                        <a href="/support-topic" class="card shadow text-center border-gray-300 animate-up-3">
                            <div class="card-body p-5">
                                <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                                    <span class="fas fa-code-branch"></span>
                                </div>
                                <h6 class="text-gray mb-0">Topic Three</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <!-- Card -->
                        <a href="/support-topic" class="card shadow text-center border-gray-300 animate-up-3">
                            <div class="card-body p-5">
                                <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                                    <span class="fab fa-cloudversify"></span>
                                </div>
                                <h6 class="text-gray mb-0">Topic Four</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-md bg-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 mb-3">
                        <h5>Getting Started</h5>
                    </div>
                    <div class="col-lg-10 mb-3">
                        <a href="/support-topic" class="card shadow border-gray-300 animate-up-3 p-0 p-lg-4">     
                            <div class="card-body">
                                <h4>Lorem, ipsum dolor &amp; lorem ipsum dolor sit amet</h4>
                                <p class="lead text-gray mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, magnam.</p>
                                <div class="d-flex align-items-center">
                                    <div class="avatar-lg">
                                        <img class="rounded-circle" src="/assets/img/team/profile-picture-2.jpg" alt="avatar">
                                    </div>
                                    <div class="small text-gray ms-3">
                                        <div><span>Updated 2 days ago</span></div>
                                        <div>Written by&nbsp;<strong>Bobby Pink</strong></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-10 mb-3">
                        <a href="/support-topic" class="card shadow border-gray-300 animate-up-3 p-0 p-lg-4">     
                            <div class="card-body">
                                <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, nam</h4>
                                <p class="lead text-gray mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui aspernatur error quas corporis earum ipsam.</p>
                                <div class="d-flex align-items-center">
                                    <div class="avatar-lg">
                                        <img class="rounded-circle" src="/assets/img/team/profile-picture-2.jpg" alt="avatar">
                                    </div>
                                    <div class="small text-gray ms-3">
                                        <div><span>Updated over a week ago</span></div>
                                        <div>Written by&nbsp;<strong>Bobby Pink</strong></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-10 mt-5 mb-3">
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                    <div class="col-lg-10 mb-3">
                        <a href="/support-topic" class="card shadow border-gray-300 animate-up-3 p-0 p-lg-4">     
                            <div class="card-body">
                                <h4>Lorem ipsum dolor sit amet &amp; orem, ipsum</h4>
                                <p class="lead text-gray mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda amet cumque commodi laborum minus magni molestiae repellat voluptatum ratione recusandae!</p>
                                <div class="d-flex align-items-center">
                                    <div class="avatar-lg">
                                        <img class="rounded-circle" src="/assets/img/team/profile-picture-2.jpg" alt="avatar">
                                    </div>
                                    <div class="small text-gray ms-3">
                                        <div><span>Updated over a week ago</span></div>
                                        <div>Written by&nbsp;<strong>Bobby Pink</strong></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-10 mb-3">
                        <a href="/support-topic" class="card shadow border-gray-300 animate-up-3 p-0 p-lg-4">     
                            <div class="card-body">
                                <h4>Lorem &amp; orem ipsum dolor sit</h4>
                                <p class="lead text-gray mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, alias non error, ut maxime maiores qui atque numquam placeat recusandae nihil vero velit commodi magni quo ullam libero quis odio.</p>
                                <div class="d-flex align-items-center">
                                    <div class="avatar-lg">
                                        <img class="rounded-circle" src="/assets/img/team/profile-picture-2.jpg" alt="avatar">
                                    </div>
                                    <div class="small text-gray ms-3">
                                        <div><span>Updated over a week ago</span></div>
                                        <div>Written by&nbsp;<strong>Bobby Pink</strong></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-md bg-gray-200">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="text-center">
                            <h3 class="mb-4">Can't find what you are looking for? Let us know!</h3>
                            <a class="text-secondary fw-normal h4" href="/contact.html">Drop us a line <span class="icon icon-sm icon-primary ms-1"><i class="fas fa-arrow-right"></i></span> </a>
                        </div>
                    </div>
                </div>
            </div>    
        </section>
    </main>
{{- end -}}