{{- define "main" -}}
    <main class="bg-gray-200">

        <div class="preloader bg-dark flex-column justify-content-center align-items-center">
    <svg id="loader-logo" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 64 78.4">
        <path fill="#fff" d="M10,0h1.2V11.2H0V10A10,10,0,0,1,10,0Z"/>
        <rect fill="none" stroke="#fff" stroke-width="11.2" x="40" y="17.6" width="0" height="25.6"/>
        <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="23" y="35.2" width="0" height="25.6"/>
        <path fill="#fff" d="M52.8,35.2H64V53.8a7,7,0,0,1-7,7H52.8V35.2Z"/>
        <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="52.8" width="0" height="25.6"/>
        <path fill="#fff" d="M52.8,0H57a7,7,0,0,1,7,7h0v4.2H52.8V0Z"/>
        <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="57.8" y="17.6" width="0" height="11.2"/>
        <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="35.2" width="0" height="11.2"/>
        <rect fill="none" stroke="#fff" stroke-width="11.2" x="40.2" y="49.6" width="0" height="11.2"/>
        <path fill="#fff" d="M17.6,67.2H28.8v1.2a10,10,0,0,1-10,10H17.6V67.2Z"/>
        <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="28.8" x="31.6" width="0" height="11.2"/>
        <rect fill="none" stroke="#fff" x="14" stroke-width="28.8" y="17.6" width="0" height="11.2"/>
    </svg>
</div>
        <!-- Hero -->
        <section class="section-header pb-9 pb-lg-12 mb-4 mb-lg-6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Terms of Service</h1>
                        <p class="mb-0">Updated at 10th of March, 2021</p>
                    </div>
                </div>
            </div>
            <div class="pattern bottom"></div>
        </section>
        <section class="section section-lg pt-0">
            <div class="container mt-n7 mt-lg-n12 z-2">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="card border-gray-300 p-4 p-md-5">
                    
                            <h2 class="mb-3">General Terms</h2>
                            <p>By accessing and placing an order with FM Tax Services, you confirm that you are in agreement with and bound by the terms and conditions contained in the Terms Of Use outlined below. These terms apply to the entire website and any email or other type of communication between you and FM Tax Services.</p>
                            <p>Under no circumstances shall FM Tax Services team be liable for any direct, indirect, special, incidental or consequential damages, including, but not limited to, loss of data or profit, arising out of the use, or the inability to use, the materials on this site, even if FM Tax Services team or an authorized representative has been advised of the possibility of such damages. If your use of materials from this site results in the need for servicing, repair or correction of equipment or data, you assume any costs thereof.</p>
                            <p>FM Tax Services will not be responsible for any outcome that may occur during the course of usage of our resources. We reserve the rights to change prices and revise the resources usage policy in any moment.</p>
                            <h2 class="mt-5 mb-3">Products</h2>
                            <p>All products and services are delivered by FM Tax Services electronically and you can access your downloads from your profile page.</p>
                            <p>FM Tax Services is not responsible for any technological delays beyond our control. If your spam blocker blocks our emails from reaching you or you do not provide a valid email address where you can be reachable then you can access your download from the Downloads page.</p>
                            <h2 class="mt-5 mb-3">Security</h2>
                            <p>FM Tax Services does not process any order payments through the website. All payments are processed securely through online payment provider (e.g. PayPal, Stripe), a third party online payment provider. Feel free to contact us about our security policies.</p>
                            <h2 class="mt-5 mb-3">Ownership</h2>
                            <p>Ownership of the product is governed by the usage license selected by the seller.</p>
                            <h2 class="mt-5 mb-3">Changes to terms</h2>
                            <p>If we change our terms of use we will post those changes on this page. Registered users will be sent an email that outlines changes made to the terms of use.</p>
                            <!-- Resolved -->
                            <div class="text-center border-top border-bottom border-gray-300 my-6 py-6">
                                <h4 class="h4 mb-5">
                                    <span class="me-1"><i class="far fa-newspaper"></i></span>
                                    Was this article helpful?
                                </h4>
                    
                                <button type="button" class="btn btn-success mb-2 mx-1 animate-up-2 text-white"><span class="me-2"><i class="far fa-thumbs-up"></i></span>Yes, thanks!</button>
                                <button type="button" class="btn btn-danger mb-2 mx-1 animate-down-2"><span class="me-2"><i class="far fa-thumbs-down"></i></span>Not really</button>
                            </div>
                            <!-- End Resolved -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{{- end -}}