<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Primary Meta Tags -->
  <title>FM Tax Services</title>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="title" content="FM Tax Services" />
  <meta name="author" content="Desque" />
  <meta
    name="description"
    content="Searching for bookkeeping and accounting services in Houston? We got you covered! We will provide you with all-inclusive and affordable services in the state of Texas."
  />
  <meta
    name="keywords"
    content="bookkeeping, book keeping, accounting, tax forms, taxes, irs, houston, texas, fm tax services"
  />
  <link rel="canonical" href="https://fm.tax" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://fm.tax" />
  <meta
    property="og:title"
    content="Affordable Accounting and Bookkeeping Services Houston | Bookkeepers Near Me - FM Tax Services"
  />
  <meta
    property="og:description"
    content="Searching for bookkeeping and accounting services in Houston? We got you covered! We will provide you with all-inclusive and affordable services in the state of Texas."
  />
  <meta
    property="og:image"
    content="https://fmtax-app-public.s3.amazonaws.com/FMTax_Logo.png"
  />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://fm.tax" />
  <meta property="twitter:title" content="FM Tax Services" />
  <meta
    property="twitter:description"
    content="Searching for bookkeeping and accounting services in Houston? We got you covered! We will provide you with all-inclusive and affordable services in the state of Texas."
  />
  <meta
    property="twitter:image"
    content="https://fmtax-app-public.s3.amazonaws.com/FMTax_Logo.png"
  />

  <!-- Favicon -->
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="/assets/img/favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/img/favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/assets/img/favicon/favicon-16x16.png"
  />
  <link rel="manifest" href="/assets/img/favicon/site.webmanifest" />
  <link
    rel="mask-icon"
    href="/assets/img/favicon/safari-pinned-tab.svg"
    color="#ffffff"
  />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="theme-color" content="#ffffff" />

  <!-- Fontawesome -->
  <link
    type="text/css"
    href="/vendor/@fortawesome/fontawesome-free/css/all.min.css"
    rel="stylesheet"
  />

  <!-- Glide JS -->
  <link
    rel="stylesheet"
    href="/vendor/@glidejs/glide/dist/css/glide.core.min.css"
  />
  <link
    rel="stylesheet"
    href="/vendor/@glidejs/glide/dist/css/glide.theme.min.css"
  />

  <!-- Pixel CSS -->
  <link type="text/css" href="/css/pixel.css" rel="stylesheet" />

  <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
</head>
