{{ define "main" }}
<main>
  <div
    class="
      preloader
      bg-dark
      flex-column
      justify-content-center
      align-items-center
    "
  >
    <svg
      id="loader-logo"
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      viewBox="0 0 64 78.4"
    >
      <path fill="#fff" d="M10,0h1.2V11.2H0V10A10,10,0,0,1,10,0Z" />
      <rect
        fill="none"
        stroke="#fff"
        stroke-width="11.2"
        x="40"
        y="17.6"
        width="0"
        height="25.6"
      />
      <rect
        fill="none"
        stroke="#fff"
        stroke-opacity="0.4"
        stroke-width="11.2"
        x="23"
        y="35.2"
        width="0"
        height="25.6"
      />
      <path fill="#fff" d="M52.8,35.2H64V53.8a7,7,0,0,1-7,7H52.8V35.2Z" />
      <rect
        fill="none"
        stroke="#fff"
        stroke-width="11.2"
        x="6"
        y="52.8"
        width="0"
        height="25.6"
      />
      <path fill="#fff" d="M52.8,0H57a7,7,0,0,1,7,7h0v4.2H52.8V0Z" />
      <rect
        fill="none"
        stroke="#fff"
        stroke-opacity="0.4"
        stroke-width="11.2"
        x="57.8"
        y="17.6"
        width="0"
        height="11.2"
      />
      <rect
        fill="none"
        stroke="#fff"
        stroke-width="11.2"
        x="6"
        y="35.2"
        width="0"
        height="11.2"
      />
      <rect
        fill="none"
        stroke="#fff"
        stroke-width="11.2"
        x="40.2"
        y="49.6"
        width="0"
        height="11.2"
      />
      <path fill="#fff" d="M17.6,67.2H28.8v1.2a10,10,0,0,1-10,10H17.6V67.2Z" />
      <rect
        fill="none"
        stroke="#fff"
        stroke-opacity="0.4"
        stroke-width="28.8"
        x="31.6"
        width="0"
        height="11.2"
      />
      <rect
        fill="none"
        stroke="#fff"
        x="14"
        stroke-width="28.8"
        y="17.6"
        width="0"
        height="11.2"
      />
    </svg>
  </div>
  <!-- Hero -->
  <section class="section section-header bg-gradient-gray-500 text-dark pb-md-10">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-md-6">
          <h1 class="display-2 mb-4">
            Accounting & Bookkeeping
            <span class="text-secondary-app fw-bold">pros.</span>
          </h1>
          <p class="lead text-gray mb-1">
            Lorem ipsum dolor* sit, amet consectetur adipisicing elit. Vero
            accusantium ipsa amet similique!
          </p>
          <small class="text-light-gray"
            >* Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
            consequatur?</small
          >
          <div class="d-flex flex-wrap mt-4 mt-lg-5">
            <a href="#" class="btn btn-white mb-xl-0 me-3">
              <span class="d-flex align-items-center">
                <span class="icon icon-brand me-2"
                  ><span class="fab fa-apple"></span
                ></span>
                <span class="d-inline-block text-left">
                  <small class="fw-normal d-block">Available on</small> App
                  Store
                </span>
              </span>
            </a>
            <a href="#" class="btn btn-white">
              <span class="icon icon-brand me-2"
                ><span class="fab fa-google-play"></span
              ></span>
              <span class="d-inline-block text-left">
                <small class="fw-normal d-block">Available on</small> Google
                Play
              </span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-6 text-center">
          <img
            class="d-none d-md-inline-block"
            src="./assets/img/illustrations/app-landing.svg"
            alt="Mobile App Mockup"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg py-sm-0">
    <div class="container z-2 mt-sm-n6 mt-md-n7">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card bg-white border-gray-300 text-gray p-4">
            <div class="card-header bg-white border-0 pb-0">
              <h2 class="h4 m-0">Lorem ipsum dolor sit amet</h2>
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
                porro, voluptatum magni autem fugit voluptate.
              </p>
              <a href="#" class="btn btn-sm btn-secondary-app animate-up-2 mt-3"
                >Learn more</a
              >
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card bg-white border-gray-300 text-gray p-4">
            <div class="card-header bg-white border-0 pb-0">
              <h2 class="h4 m-0">Lorem ipsum dolor sit amet</h2>
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit
                quod a earum aliquid quibusdam natus?
              </p>
              <a href="#" class="btn btn-sm btn-secondary-app animate-up-2 mt-3"
                >Learn more</a
              >
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card bg-white border-gray-300 text-gray p-4">
            <div class="card-header bg-white border-0 pb-0">
              <h2 class="h4 m-0">Lorem ipsum dolor sit amet</h2>
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur delectus hic illo, impedit eaque harum!
              </p>
              <a href="#" class="btn btn-sm btn-secondary-app animate-up-2 mt-3"
                >Learn more</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="section section-lg">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-lg-6">
          <div class="d-flex flex-wrap justify-content-lg-start">
            <h2 class="h3 text-center text-lg-left mb-5">
              Lorem ipsum dolor sit amet
            </h2>
            <div class="my-4">
              <div class="d-flex">
                <div class="me-3 me-md-4">
                  <div class="icon icon-md icon-secondary-app">
                    <span class="fas fa-shield-alt"></span>
                  </div>
                </div>
                <div>
                  <h3 class="h4">Lorem, ipsum dolor</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nihil impedit ab porro, similique vero eligendi ipsum
                    officia? Quam nobis culpa, eos at impedit suscipit commodi.
                  </p>
                </div>
              </div>
            </div>
            <div class="my-4">
              <div class="d-flex">
                <div class="me-3 me-md-4">
                  <div class="icon icon-md icon-secondary-app">
                    <span class="fas fa-user-circle"></span>
                  </div>
                </div>
                <div>
                  <h3 class="h4">Lorem ipsum dolor sit</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta optio temporibus ab commodi. Molestiae at incidunt
                    perferendis possimus omnis nobis suscipit et aperiam
                    cupiditate reiciendis.
                  </p>
                </div>
              </div>
            </div>
            <div class="my-4">
              <div class="d-flex">
                <div class="me-3 me-md-4">
                  <div class="icon icon-md icon-secondary-app">
                    <span class="fas fa-file-alt"></span>
                  </div>
                </div>
                <div>
                  <h3 class="h4">Lorem ipsum dolor sit</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Itaque, et recusandae unde eius temporibus sit iure nobis
                    totam neque corrupti hic assumenda, fugit aut quo!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-5">
          <img
            class="d-none d-lg-inline-block"
            src="./assets/img/illustrations/app-landing-2.svg"
            alt="Mobile App Illustration"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="section section-sm py-0">
    <div class="container">
      <div class="row text-center mb-5">
        <div class="col">
          <h2 class="h6 fw-normal text-brown">We're proudly featured by</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col d-flex justify-content-center flex-wrap">
          <a
            href="#"
            aria-label="Stripe brand logo"
            class="icon icon-xl me-4 me-lg-5"
            data-bs-toggle="tooltip"
            data-placement="top"
            title="Stripe"
          >
            <span class="fab fa-stripe"></span>
          </a>
          <a
            href="#"
            aria-label="Digg brand logo"
            class="icon icon-xl me-4 me-lg-5"
            data-bs-toggle="tooltip"
            data-placement="top"
            title="Digg"
          >
            <span class="fab fa-digg"></span>
          </a>
          <a
            href="#"
            aria-label="FedEx brand logo"
            class="icon icon-xl me-4 me-lg-5"
            data-bs-toggle="tooltip"
            data-placement="top"
            title="FedEx"
          >
            <span class="fab fa-fedex"></span>
          </a>
          <a
            href="#"
            aria-label="Ember brand logo"
            class="icon icon-xl me-4 me-lg-5"
            data-bs-toggle="tooltip"
            data-placement="top"
            title="Ember"
          >
            <span class="fab fa-ember"></span>
          </a>
          <a
            href="#"
            aria-label="Beyond brand logo"
            class="icon icon-xl me-4 me-lg-5"
            data-bs-toggle="tooltip"
            data-placement="top"
            title="Beyond"
          >
            <span class="fab fa-d-and-d-beyond"></span>
          </a>
          <a
            href="#"
            aria-label="AngryCreative brand logo"
            class="icon icon-xl"
            data-bs-toggle="tooltip"
            data-placement="top"
            title="AngryCreative"
          >
            <span class="fab fa-angrycreative"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-center mb-5 mb-lg-6">
          <h2 class="display-3 mb-4">Customers love it</h2>
          <p class="lead">
            Lorem ipsum dolor, sit amet consectetur adipisicing
            <br class="d-none d-lg-inline-block" />
            lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
      <div class="row mt-lg-6 mb-4 mb-lg-6">
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card border-gray-300">
            <div class="card-body text-center py-5">
              <img
                class="image-sm img-fluid mx-auto mb-3"
                src="./assets/img/clients/airbnb.svg"
                alt="Airbnb brand"
              />
              <span class="d-block">
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star far fa-star text-warning"></span>
              </span>
              <p class="px-2 my-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex
                vero magni sapiente accusamus dolorem soluta velit sit
                doloremque cumque et!
              </p>
              <a href="#" class="btn btn-link text-black">
                <span class="me-2"><span class="fas fa-book-open"></span></span>
                <span class="fw-bold">Read story</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card border-gray-300 mt-lg-n6">
            <div class="card-body text-center py-5">
              <img
                class="image-sm img-fluid mx-auto mb-3"
                src="./assets/img/clients/corsair.svg"
                alt="Corsair brand"
              />
              <span class="d-block">
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star far fa-star text-warning"></span>
              </span>
              <p class="px-2 my-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Aspernatur obcaecati, ab saepe provident numquam autem rerum
                minima labore accusantium corrupti.
              </p>
              <a href="#" class="btn btn-link text-black">
                <span class="me-2"><span class="fas fa-book-open"></span></span>
                <span class="fw-bold">Read story</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card border-gray-300">
            <div class="card-body text-center py-5">
              <img
                class="image-sm img-fluid mx-auto mb-3"
                src="./assets/img/clients/paypal.svg"
                alt="Paypal brand"
              />
              <span class="d-block">
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star far fa-star text-warning"></span>
              </span>
              <p class="px-2 my-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequatur, in quibusdam. Tenetur totam autem aperiam
                reprehenderit voluptatum, earum harum doloremque!
              </p>
              <a href="#" class="btn btn-link text-black">
                <span class="me-2"><span class="fas fa-book-open"></span></span>
                <span class="fw-bold">Read story</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0 mt-lg-4">
          <div class="card border-gray-300">
            <div class="card-body text-center py-5">
              <img
                class="image-sm img-fluid mx-auto mb-3"
                src="./assets/img/clients/ebay.svg"
                alt="Google brand"
              />
              <span class="d-block">
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star far fa-star text-warning"></span>
              </span>
              <p class="px-2 my-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil
                minus eos molestiae sint ex iste dolor hic ut molestias aperiam.
              </p>
              <a href="#" class="btn btn-link text-black">
                <span class="me-2"><span class="fas fa-book-open"></span></span>
                <span class="fw-bold">Read story</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0 mt-lg-n5">
          <div class="card border-gray-300">
            <div class="card-body text-center py-5">
              <img
                class="image-sm img-fluid mx-auto mb-3"
                src="./assets/img/clients/northwestern.svg"
                alt="northwestern brand"
              />
              <span class="d-block">
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star far fa-star text-warning"></span>
              </span>
              <p class="px-2 my-4">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero
                possimus mollitia, autem veritatis architecto maxime rem animi
                ab deserunt omnis!
              </p>
              <a href="#" class="btn btn-link text-black">
                <span class="me-2"><span class="fas fa-book-open"></span></span>
                <span class="fw-bold">Read story</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-lg-4">
          <div class="card border-gray-300">
            <div class="card-body text-center py-5">
              <img
                class="image-sm img-fluid mx-auto mb-3"
                src="./assets/img/clients/elastic.svg"
                alt="Elastic brand"
              />
              <span class="d-block">
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star far fa-star text-warning"></span>
              </span>
              <p class="px-2 my-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                nesciunt cum reiciendis doloribus obcaecati eos? Repellendus ex
                ducimus dolores blanditiis!
              </p>
              <a href="#" class="btn btn-link text-black">
                <span class="me-2"><span class="fas fa-book-open"></span></span>
                <span class="fw-bold">Read story</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center my-5">
        <div class="col-12 text-center">
          <h2 class="display-3 mb-4">Common IRS Questions</h2>
          <p class="lead">
            Here are some of the common mistakes reported by survey123,
            <br class="d-none d-lg-inline-block" />
            lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <!--Accordion-->
          <div class="accordion" id="accordionExample1">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  What is the purpose of a taxes?
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample1"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
                  maiores omnis recusandae repellat, nobis rerum! Culpa
                  dignissimos quod accusantium eveniet id consectetur sint animi
                  provident. Harum quisquam molestiae, cum vitae unde numquam
                  delectus quidem, odio tempore eos alias? Provident delectus
                  sunt iure ipsum est quasi explicabo animi veritatis labore
                  autem.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  What is a tax?
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample1"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Perspiciatis doloribus quidem cum laudantium expedita, culpa
                  tempora dolores enim, ab velit excepturi amet iure totam
                  laboriosam temporibus nihil, aliquam atque fugit?
                  Consequuntur, aspernatur odio ipsa esse nobis vitae error
                  voluptatibus nulla cupiditate praesentium ea quaerat
                  repellendus! Eveniet animi eum quaerat repellendus.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  What are the top 10 mistakes?
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample1"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                  delectus dolorem officia excepturi quisquam illo quo modi
                  temporibus, harum beatae iusto amet voluptatibus, sint,
                  deserunt repellendus possimus doloribus? Facilis quaerat non
                  suscipit laudantium veritatis magni enim fuga! Quas aut natus
                  qui accusamus optio, animi voluptates ducimus quam reiciendis
                  laudantium esse.
                </div>
              </div>
            </div>
          </div>
          <!--End of Accordion-->
        </div>
      </div>
    </div>
  </section>
  <div class="section bg-primary-app">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-12 col-lg-6">
          <span class="h5 text-muted mb-2 d-block">Download App</span>
          <h2 class="display-3 mb-4">Get started in seconds</h2>
          <p class="lead text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            aspernatur sunt quibusdam libero eveniet deleniti, repudiandae nihil
            facilis quod minima accusamus et impedit eum facere aliquid labore
            voluptas illo officiis.
          </p>
          <div class="d-sm-flex flex-wrap mt-4 mt-lg-5">
            <div>
              <a href="#" class="btn btn-dark mb-3 mb-sm-0 me-3">
                <span class="d-flex align-items-center">
                  <span class="icon icon-brand me-2"
                    ><span class="fab fa-apple"></span
                  ></span>
                  <span class="d-inline-block text-left">
                    <small class="fw-normal d-block">Available on</small>
                    App Store
                  </span>
                </span>
              </a>
            </div>
            <div>
              <a href="#" class="btn btn-dark">
                <span class="icon icon-brand me-2"
                  ><span class="fab fa-google-play"></span
                ></span>
                <span class="d-inline-block text-left">
                  <small class="fw-normal d-block">Available on</small>
                  Google Play
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-5 ms-lg-auto">
          <img
            class="d-none d-lg-inline-block"
            src="./assets/img/illustrations/app-landing-cta.svg"
            alt="Mobile App Illustration"
          />
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
