{{ define "main" }}
<main>
  <!-- header -->
  {{ with .Params.header }}
  <section class="section section-header bg-gradient-gray-500 text-dark pb-md-10">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-md-6">
        {{ $titleLastWord := split .title " " | last 1 }}
        {{ $titleLastWord := index $titleLastWord 0 }}
          <h1 class="display-2 mb-4">
            {{ strings.TrimSuffix $titleLastWord .title | markdownify }}
            <span class="text-secondary-app fw-bold">
              {{ $titleLastWord }}
            </span>
          </h1>
          <p class="lead text-gray mb-1">
            {{ .content | markdownify }}
          </p>
          {{ if .smallprint.enable }}
          {{ with .smallprint }}
          <small class="text-light-gray">
            *{{ .label | markdownify }}
          </small>
          {{ end }}
          {{ end }}
          <!-- available on app buttons -->
          <div class="d-flex flex-wrap mt-4 mt-lg-5">
            {{ range .header_item }}
            {{ if .button.enable }}
            {{ with .button }}
            <a href="{{ .link }}" class="btn btn-white mb-xl-0 me-3">
              <span class="d-flex align-items-center">
                <span class="icon icon-brand me-2"
                  ><span class="{{ .icon }}"></span
                ></span>
                <span class="d-inline-block text-left">
                  <small class="fw-normal d-block">{{ .small_print }}</small>
                  {{ .large_print }}
                </span>
              </span>
            </a>
            {{ end }}
            {{ end }}
            {{ end }}
          </div>
          <!-- /available on app buttons -->
        </div>
        {{with .image}}
          <div class="col-12 col-md-6 text-center">
            <img
              class="d-none d-md-inline-block"
              src={{ . }}
              alt="Mobile App Mockup"
            />
          </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
  <!-- /header -->
  <!-- feature -->
  {{ with .Params.feature }}
  {{ if .enable }}
  <section class="section section-lg py-0">
    <div class="container z-2 mt-sm-n6 mt-md-n7">
      <div class="row">
        {{ range .feature_item }}
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card bg-white border-gray-300 text-gray p-4">
            <div class="card-header bg-white border-0 pb-0">
              <h2 class="h4 m-0">{{ .name | title }}</h2>
            </div>
            <div class="card-body">
              <p>{{ .content | markdownify }}</p>
              {{ if .button.enable }}
              {{ with .button }}
              <a href="{{ .link }}" class="btn btn-sm btn-secondary-app animate-up-2 mt-3">
                {{ .label }}</a>
              {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}
  <!-- /feature -->
  <!-- service -->
  {{ with .Params.service }}
  {{ if .enable }}
  <div class="section section-lg">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-lg-6">
          <div class="d-flex flex-wrap justify-content-lg-start">
            <h2 class="h3 text-center text-lg-left mb-5">
              {{ .title }}
            </h2>
            {{ range .service_item }}
            <div class="my-4">
              <div class="d-flex">
                <div class="me-3 me-md-4">
                  <div class="icon icon-md icon-secondary-app">
                    <span class="{{ .icon }}"></span>
                  </div>
                </div>
                <div>
                  <h3 class="h4">{{ .name }}</h3>
                  <p>{{ .content | markdownify }}</p>
                </div>
              </div>
            </div>
            {{ end }}
        </div>
      </div>
      {{with .image}}
      <div class="col-12 col-lg-5">
        <img
          class="d-none d-lg-inline-block"
          src="{{ . }}"
          alt="Mobile App Illustration"
        />
      </div>
      {{ end }}
    </div>
  </div>
  </div>
  {{ else }}
  <div class="section section-sm"></div>
  {{ end }}
  {{ end }}
  <!-- /service -->
  <!-- client_logo -->
  {{ with .Params.client_logo }}
  {{ if .enable }}
  <div class="section section-sm">
    <div class="container">
      <div class="row text-center mb-5">
        <div class="col">
          <h2 class="h6 fw-normal text-brown">{{ .title }}</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col d-flex justify-content-center flex-wrap">
          {{ range .client_logo_item }}
          <a
            href="{{ .link }}"
            aria-label="{{ .label }}"
            class="icon icon-xl me-4 me-lg-5"
            data-bs-toggle="tooltip"
            data-placement="top"
            title="{{ .title }}"
          >
            <span class="{{ .icon }}"></span>
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
  <!-- /client_logo -->
  <!-- testimonial -->
  {{ with .Params.testimonial }}
  {{ if .enable }}
  <section class="section section-sm py-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-center mb-5 mb-lg-6">
          <h2 class="display-3 mb-4">{{ .title }}</h2>
          <p class="lead">
            {{ .content | markdownify }}
          </p>
        </div>
      </div>
      <div class="row mt-lg-6 mb-4 mb-lg-4">
        {{ range .testimonial_item }}
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-4">
          <div class="card border-gray-300">
            <div class="card-body text-center py-5">
              <img
                class="image-sm img-fluid mx-auto mb-3"
                src="{{ .image }}"
                alt="{{ .label }}"
              />
              <span class="d-block">
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star fas fa-star text-warning"></span>
                <span class="star far fa-star text-warning"></span>
              </span>
              <p class="px-2 my-4">
                {{ .testimonial }}
              </p>
              {{ if .button.enable }}
              {{ with .button }}
              <a href="{{ .link }}" class="btn btn-link text-black">
                <span class="me-2"><span class="{{ .icon }}"></span></span>
                <span class="fw-bold">{{ .label }}</span>
              </a>
              {{ end }}
              {{ end }}             
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </section>
    {{ end }}
    {{ end }}
    <!-- /testimonial -->
    <!-- accordian -->
    {{ with .Params.accordian }}
    {{ if .enable }}
    <section class="section section-sm">
      <div class="row justify-content-center my-5">
        <div class="col-12 text-center">
          <h2 class="display-3 mb-4">{{ .title }}</h2>
          <p class="lead">
            {{ .content }}
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <!--Accordion-->
          <div class="accordion" id="accordion1">
            {{ $.Scratch.Set "counter" 0 }}
            {{ range .accordian_item }}
            {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading{{$.Scratch.Get "counter"}}">
                <button
                  class="accordion-button{{ if ne ($.Scratch.Get "counter") 1 }} collapsed{{ end }}"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse{{$.Scratch.Get "counter"}}"
                  aria-expanded="{{ if eq ($.Scratch.Get "counter") 1 }}true{{ else }}false{{ end }}"
                  aria-controls="collapse{{$.Scratch.Get "counter"}}"
                >
                  {{ .question }}
                </button>
              </h2>
              <div
                id="collapse{{$.Scratch.Get "counter"}}"
                class="accordion-collapse collapse{{ if eq ($.Scratch.Get "counter") 1 }} show{{ end }}"
                aria-labelledby="heading{{$.Scratch.Get "counter"}}"
                data-bs-parent="#accordion1"
              >
                <div class="accordion-body">
                  {{ .answer }}
                </div>
              </div>
            </div>
            {{ end }}

          </div>
          <!--End of Accordion-->
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}
  <!-- /accordian -->
  <!-- call_to_action -->
  {{ with .Params.call_to_action }}
  {{ if .enable }}
  <div class="section bg-primary-app">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-12 col-lg-6">
          <span class="h5 text-muted mb-2 d-block">{{ .title }}</span>
          <h2 class="display-3 mb-4">{{ .title2 }}</h2>
          <p class="lead text-muted">
            {{ .content }}
          </p>
          <div class="d-sm-flex flex-wrap mt-4 mt-lg-5">
            {{ range .cta_item }}
            {{ if .button.enable }}
            {{ with .button }}
            <div>
              <a href="{{ .link }}" class="btn btn-dark mb-3 mb-sm-3 me-3">
                <span class="d-flex align-items-center">
                  <span class="icon icon-brand me-2"
                    ><span class="{{ .icon }}"></span
                  ></span>
                  <span class="d-inline-block text-left">
                    <small class="fw-normal d-block">{{ .small_print }}</small>
                    {{ .large_print }}
                  </span>
                </span>
              </a>
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
          </div>
        </div>
        {{ with .image }}
        <div class="col-12 col-lg-5 ms-lg-auto">
          <img
            class="d-none d-lg-inline-block"
            src="{{ . }}"
            alt="Mobile App Illustration"
          />
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
  <!-- /call_to_action -->
</main>
{{ end }}
