{{ define "main" }}
    <main>
        <!-- Hero -->
        <section class="section-header bg-primary text-white pb-9 pb-lg-12 mb-4 mb-lg-6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Legal center</h1>
                        <p class="lead">One place for our legal documentation and policies</p>
                    </div>
                </div>
            </div>
            <div class="pattern bottom"></div>
        </section>
        <div class="section section-lg pt-0">
            <div class="container mt-n8 mt-lg-n12 z-2">
                <div class="row justify-content-center">
                    <div class="col col-md-10">
                        <!--Accordion-->
                        <div class="accordion bg-white rounded" id="accordionExample1">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is a IRS Kit?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nisi quaerat omnis ipsa atque dolore ipsum officiis cumque quidem sit.</p>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia totam explicabo velit natus repellendus neque perferendis, eaque, rerum minima id laudantium, ratione quidem beatae laborum!</p>
                                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates nisi eius quaerat assumenda aliquam, expedita ut deserunt. Non labore veritatis maxime soluta, sed dolor omnis perspiciatis autem neque nobis repellendus?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque impedit aperiam libero a ex odio aspernatur beatae, voluptas vero quod sint in nemo reprehenderit nulla ab? Quasi alias iste facere ad architecto. Quaerat!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, consectetur?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat iure minima consectetur, quam dicta repudiandae ex deserunt iusto error dolor nemo perspiciatis! Numquam, suscipit nam commodi tempora blanditiis cumque itaque voluptatibus aperiam optio debitis obcaecati laborum facilis similique, sunt laudantium.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, quos inventore: <a href="https://fm.tax">Something Policy</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Lorem ipsum dolor sit amet?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ullam commodi iure maiores unde animi incidunt fugit hic perspiciatis, repudiandae, quae fuga? Sed rerum nihil placeat laboriosam in modi culpa.</p>
                                        <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate accusantium exercitationem ad laudantium! Odit culpa nihil aspernatur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Lorem ipsum dolor sit?
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <p class="mb-0">Got a question? Let us know and we'll try our best to answer you at the <a href="./support.html">support center</a>.</p>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of Accordion-->
                    </div>
                </div>
            </div>
        </div>
        <section class="section section-lg pt-0 line-bottom-light">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 text-center px-4 mb-5">
                        <div class="icon icon-sm icon-shape icon-shape-secondary rounded mb-4">
                            <span class="fas fa-envelope-open-text"></span>
                        </div>
                        <h5 class="mb-3">Email us</h5>
                        <p class="px-5 px-sm-7 px-lg-0">
                            Email us for general queries, including marketing and partnership opportunities.                              
                        </p>
                        <a class="fw-bold text-primary" href="mailto:office@company.com">office@company.com</a>
                    </div>
                    <div class="col-12 col-lg-4 text-center px-4 mb-5">
                        <div class="icon icon-sm icon-shape icon-shape-secondary rounded mb-4">
                            <span class="fas fa-phone-volume"></span>
                        </div>
                        <h5 class="mb-3">Call us</h5>
                        <p class="px-5 px-sm-7 px-lg-0">
                            Call us to speak to a member of our team.We are always happy to help you.                             
                        </p>
                        <a class="fw-bold text-primary" href="#">+1 (234) 567890</a>
                    </div>
                    <div class="col-12 col-lg-4 text-center px-4">
                        <div class="icon icon-sm icon-shape icon-shape-secondary rounded mb-4">
                            <span class="fab fa-slack"></span>
                        </div>
                        <h5 class="mb-3">Slack</h5>
                        <p class="px-5 px-sm-7 px-lg-0">
                            Join our Slack community to chat with us and our support group.                           
                        </p>
                        <a class="btn btn-sm btn-outline-primary" href="#">
                            Join our Slack
                            <span class="fas fa-long-arrow-alt-right ms-2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{{ end }}